# Dot-files
.devcontainer/
.github/
.vscode/

# Trained weights
model_best_*.pkl

# Jupyter Notebook
.ipynb_checkpoints

__pycache__/

### Vim ###
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# PNG files for debug
dilated_skeleton.png
doors.png
floor_plan.png
mask.png
overlayed.png
skeleton.npy
skeleton.png
walls.png
adjacency_matrix.png
hist_adjacency_matrix.png
graph_visualization.png
RDP_adj_matrix.png
